$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import "bootstrap-theme";
@import "sass-bootstrap/lib/bootstrap";
@import "compass";

@import "paginas/detalle-paciente";
@import "paginas/pacientes";
@import "paginas/nuevo-objetivo";

.navbar {
  margin: 1rem 0;
}

.footer {
  border-top: .125rem solid $gray-lighter; color: $gray-light; margin-top: 1.5rem; padding: .5rem 0 0;
}
