$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import "bootstrap-theme";
@import "sass-bootstrap/lib/bootstrap";
//@import "hbp-overrides";
@import "compass";


.navbar {
  margin: 1rem 0;
}

.user-list-bar {
//  margin: 1rem 0 .5rem;
}

.btn-paciente-nuevo {
  float: right;
}

.table-top-form {
  padding-left: 0;
  padding-right: 0;
}