<div class="nutricionistas">
    <div class="row">
        <div class="col-xs-12 col-md-9"><div class="input-group">
            <input placeholder="Buscar por nombre" type="text" class="form-control"  style="margin-bottom: 1rem;">
            <div class="input-group-btn">
                <button class="btn btn-default" type="button" style="margin-bottom: 1rem;">
                    <span class="glyphicon glyphicon-search"></span>
                    Buscar
                </button>
            </div>
        </div></div>

    </div>

</div>


<table class="table table-bordered table-hover tabla-pacientes-lista">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Primer Apellido</th>
        <th class="hidden-xs">Segundo Apellido</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td class="hidden-xs">Man</td>
    </tr>
    <tr class="active">
        <td>Jacob</td>
        <td>Santana</td>
        <td class="hidden-xs">Thornton</td>
    </tr>
    <tr>
        <td>Larry</td>
        <td>the</td>
        <td class="hidden-xs">Bird</td>
    </tr>
    </tbody>
</table>

<ul class="pagination">
    <li><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li class="active"><a href="#">3 <span class="sr-only">(current)</span></a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
</ul>