.info-calorias {
    text-align: center;
    strong {
        font-size: 2rem;
        display: block;
    }
}

.buscar-receta {
    margin-bottom: 1rem;
}

.table-calorias {
    @extend .table, .table-hover, .table-striped, .table-border;
    thead:first-child tr th {
        border-top: 0;
    }
}

.table-listado-comida {
    @extend .table, .table-hover, .table-striped, .table-border;
    td {
        vertical-align: middle !important;
    }
    .calorias {
        text-align: right;
    }
}

.tabs-agregar-calorias {
    .tab-pane {
        padding-top: 1rem;
    }
}
