.perfil-paciente-datos {
  padding: 0;

  li {
    list-style-type: none;
    margin-bottom: 1rem;
    border-bottom: 1px dashed $gray-light;
  }
}

.lista-categorias {
  margin: 1rem 0 0;
}

.cita-anterior-detalles {
  img {
    max-width: 90%;
  }
}

.cita-actual-detalles {
  .row {
    margin-bottom: 1rem;
  }
}

.cita-nueva-estadisticas {
  font-size: 16px;
}

.estadistica-positiva {
  color: $brand-success;
}

.estadistica-negativa {
  color: $brand-warning;
}