// TODO: widget?
.perfil-paciente-img {
  @include inline-block(top);
  @include border-radius(50%);
  max-width: 100%;
}

.perfil-paciente-info {
//  @include inline-block(top);
}

.paciente-foto-wrap {
  @include inline-block(top);
  position: relative;
  width: 100%;
  text-align: center;
}

.tabla-citas-paciente {
  margin-top: 2rem;
}

.btn-nueva-cita {
  bottom: 70px;
  position: absolute;
  right: 0;
}

.dato-definicion {
  font-weight: bold;
}

// TODO: widget de fijo
.categoria-tag {
  @include inline-block;
  padding: 1px 3px;
  color: $component-active-color;
  border-radius: $border-radius-small;
  font-weight: bold;
  background: #fff;
  border: 1px solid #000;
}

.hipertenso-tag {
  color: #2E8F94;
  border-color: #2E8F94;
}

.vegetariano-tag {
  color: #2E943D;
  border-color: #2E943D;
}

.vegano-tag {
  color: #ECA918;
  border-color: #ECA918;
}

.diabetico-tag {
  color: #CC63A9;
  border-color: #CC63A9;
}

.nogluten-tag {
  color: #B77A3D;
  border-color: #B77A3D;
}

.nolactosa-tag {
  color: #6C8DA9;;
  border-color: #6C8DA9;;
}

.tag-dropdown {
    .categoria-tag {
        margin-left: 4px;
    }
}
