.body-login {
  background: url(/images/healthy-lifestyle-woman-eating-salad-smiling-happy-outdoors-beautiful-day-young-female-food-outside-summer-34259122-edited.jpg);
}

.login-wrap {
  background: rgba(255, 255, 255, .5);
  padding-bottom: 40px;
}