.table-recetas {
    @extend .table, .table-bordered, .table-hover;

    margin-top: 4px;

    .active {
        font-weight: bold;
    }
}

.lista-ingredientes {
    @extend .list-unstyled;
    margin-top: 4px;
    margin-left: 4px;
}

.detalle-receta {
    h3 {
        margin-top: 0;
    }
}
