.carousel {
  background: #333333;

  .item {
    text-align: center;
  }
  .datos-cita {
    margin: 50px 0 20px;
  }
  .list-group-item {
    text-align: left;
    background: transparent;
    color: #eeeeee;
  }
}

.carousel-indicators {
  bottom: 0;
}